In [6]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [7]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
df_lending=pd.read_csv("Resources/lending_data.csv")

# Review the DataFrame
df_lending.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0


### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [8]:
# Separate the data into labels and features

# Separate the y variable, the labels
y=df_lending['loan_status']

# Separate the X variable, the features
X=df_lending.copy()
X.drop('loan_status', axis=1, inplace=True)

In [9]:
# Review the y variable Series
y[:5]

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [10]:
# Review the X variable DataFrame
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

In [26]:
X.value_counts

<bound method DataFrame.value_counts of        loan_size  interest_rate  borrower_income  debt_to_income  \
0        10700.0          7.672            52800        0.431818
1         8400.0          6.692            43600        0.311927
2         9000.0          6.963            46100        0.349241
3        10700.0          7.664            52700        0.430740
4        10800.0          7.698            53000        0.433962
...          ...            ...              ...             ...
77531    19100.0         11.261            86600        0.653580
77532    17700.0         10.662            80900        0.629172
77533    17600.0         10.595            80300        0.626401
77534    16300.0         10.068            75300        0.601594
77535    15600.0          9.742            72300        0.585062

       num_of_accounts  derogatory_marks  total_debt
0                    5                 1       22800
1                    3                 0       13600
2                    3                 0       16100
3                    5                 1       22700
4                    5                 1       23000
...                ...               ...         ...
77531               12                 2       56600
77532               11                 2       50900
77533               11                 2       50300
77534               10                 2       45300
77535                9                 2       42300

[77536 rows x 7 columns]>

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [25]:
# Check the balance of our target values
y.value_counts

<bound method IndexOpsMixin.value_counts of 0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64>

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [12]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test,=train_test_split(X,y,stratify=y,random_state=1)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [13]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier=LogisticRegression(random_state=1)

# Fit the model using training data
classifier.fit(X_train, y_train)

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [14]:
# Make a prediction using the testing data
predictions=classifier.predict(X_test)
df_predictions=pd.DataFrame({'Predictions': predictions, 'Actual': y_test})
df_predictions

       Predictions  Actual
36831            0       0
75818            0       1
36563            0       0
13237            0       0
43292            0       0
...            ...     ...
38069            0       0
36892            0       0
5035             0       0
40821            0       0
35030            0       0

[19384 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [15]:
# Print the balanced_accuracy score of the model
bac=balanced_accuracy_score(y_test, predictions)
print(bac)

0.9442676901753825

In [16]:
# Generate a confusion matrix for the model
print('Confusion Matrix')
cm=confusion_matrix(y_test, predictions)
df_cm=pd.DataFrame(cm, index=['Actual 0', 'Actual 1'], columns=['Predicted 0(healthy-loan)', 'Predicted 1 (high-risk-loan)'])
display(df_cm)

Confusion Matrix

          Predicted 0(healthy-loan)  Predicted 1 (high-risk-loan)
Actual 0                      18679                            80
Actual 1                         67                           558

In [17]:
# Print the classification report for the model
print('Classification Report')
print(classification_report(y_test, predictions))

Classification Report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     18759
           1       0.87      0.89      0.88       625

    accuracy                           0.99     19384
   macro avg       0.94      0.94      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The logical regression has a recal rate of 89% and precision of 87%. I think the model does a good job of predicting the both the healthy loand and the high risk loans, and with more data points it will generate better results.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [2]:
!pip install imblearn

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.10.1-py3-none-any.whl (226 kB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ashao\anaconda3.0\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\ashao\anaconda3.0\lib\site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\ashao\anaconda3.0\lib\site-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ashao\anaconda3.0\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)
Collecting joblib>=1.1.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
Installing collected packages: joblib, imbalanced-learn, imblearn
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
Successfully installed imbalanced-learn-0.10.1 imblearn-0.0 joblib-1.2.0

In [18]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
ros=RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
X_res,y_res=ros.fit_resample(X,y)

In [24]:
# Count the distinct values of the resampled labels data
X_res.value_counts

<bound method DataFrame.value_counts of         loan_size  interest_rate  borrower_income  debt_to_income  \
0         10700.0          7.672            52800        0.431818
1          8400.0          6.692            43600        0.311927
2          9000.0          6.963            46100        0.349241
3         10700.0          7.664            52700        0.430740
4         10800.0          7.698            53000        0.433962
...           ...            ...              ...             ...
150067    19000.0         11.208            86100        0.651568
150068    18700.0         11.062            84700        0.645809
150069    21100.0         12.092            94400        0.682203
150070    17500.0         10.553            79900        0.624531
150071    18800.0         11.110            85200        0.647887

        num_of_accounts  derogatory_marks  total_debt
0                     5                 1       22800
1                     3                 0       13600
2                     3                 0       16100
3                     5                 1       22700
4                     5                 1       23000
...                 ...               ...         ...
150067               12                 2       56100
150068               12                 2       54700
150069               14                 3       64400
150070               11                 2       49900
150071               12                 2       55200

[150072 rows x 7 columns]>

In [23]:
y_res.value_counts

<bound method IndexOpsMixin.value_counts of 0         0
1         0
2         0
3         0
4         0
         ..
150067    1
150068    1
150069    1
150070    1
150071    1
Name: loan_status, Length: 150072, dtype: int64>

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [29]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier=LogisticRegression(random_state=1)

# Fit the model using the resampled training data
classifier.fit(X_res,y_res)

# Make a prediction using the testing data
predictions=classifier.predict(X_test)
df_predictions=pd.DataFrame({'predictions':predictions, 'Actual':y_test})
df_predictions

       predictions  Actual
36831            0       0
75818            1       1
36563            0       0
13237            0       0
43292            0       0
...            ...     ...
38069            0       0
36892            0       0
5035             0       0
40821            0       0
35030            0       0

[19384 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [31]:
# Print the balanced_accuracy score of the model 
bac=balanced_accuracy_score(y_test, predictions)
print(bac)

0.9959744975744975

In [32]:
# Generate a confusion matrix for the model
cm=confusion_matrix(y_test,predictions)
cm_df=pd.DataFrame(cm, index=['Actual 0','Actual 1'], columns=['Predicted 0','Predicted 1'])
print('Confusion Matrix')
display(cm_df)

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        18668           91
Actual 1            2          623

In [33]:
# Print the classification report for the model
print('Classification Report')
print(classification_report(y_test, predictions))

Classification Report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     18759
           1       0.87      1.00      0.93       625

    accuracy                           1.00     19384
   macro avg       0.94      1.00      0.96     19384
weighted avg       1.00      1.00      1.00     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The logistic regression model fit with oversampled data does a great job at predicting high risk loans with a recal of 100%. it does a good job at predicting healhty loans, it has a percision rate of 87%.